<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>


<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="column12 omega">
    <h1>
      Welcome to Brew Wizard
      <br>
      Choose <a href="/products">anything</a> you wish, we’ll ship it <a href="/products">anywhere in Australia!</a>
    </h1>
  </div>
</div>

<div class="column12 omega">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <h3>Featured Products</h3>
      <hr>
      <ul class="carousel">
        <% @featured_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @latest_products %>
    <div id="latest-products" class="row">
      <h3>Latest Products</h3>
      <hr>
      <ul class="carousel">
        <% @latest_products.sort_by{ |product| product.created_at }.reverse.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
